.l-side{
  position: absolute;
  top: 0px;
  right:  0px;
  width: 20%;
  list-style: none;
  color: black;
  background-color: #F2EDE9;
  font-size: 10px;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
  overflow:hidden;
  h1{
    padding: 40px 0px 80px 30px;
    font-size: 20px;
    color: #707070;
  }
  &_menu{
    padding-left: 40px;
    color: #707070;
    li{
    padding-bottom: 22px;
    font-size: 12px;
    padding-left: 30px;
    }
    li:nth-child(1){
      font-size: 18px;
      padding-left: 0px;
    }
    li:nth-child(9){
      font-size: 18px;
      padding: 10px 0px 20px 0px;
    }
    li:nth-child(14){
      font-size: 18px;
      padding: 10px 0px 20px 0px;
    }
  }
 }